<!--<select class="form-control" id="select" onchange="location = this.value">
  <option>----------Select By Category--------</option>
  <option
    *ngFor="let category of CategoryId"
    value="{{ category.id }}"
    [routerLink]="['/videos']"
    [queryParams]="{ categoryId: category.id }">
    {{ category.title }}
  </option>
</select>-->

<!-- Categories list -->
<div class="add-button" dropdown>
  <div (click)="toggleDropdown()" class="dropDown">{{ selectVideosCategory }} <span class="caret"></span></div>
  <ul class="dropdown" *ngIf="showDropdown">
    <a *ngFor="let category of CategoryId"
      (click)="toggleDropdown(category.title)"
      [routerLink]="['/videos']"
      [queryParams]="{ categoryId: category.id }" >
      <li class="li_DropDownCategory"><i class="fa fa-check-square-o fa-2"></i>{{ category.title }} </li>
    </a>
  </ul>
</div>

<!--Titl list name-->
<div class="list-group">
  <a class="list-group-item"
    (click)="onSelect(video)"
    *ngFor="let video of videos">
    {{ video.title }}
  </a>
</div>

<!--Pagination-->
<div class="btn-toolbar">
  <div class="btn-group">
    <a
      *ngFor= "let page of totalPages"
      [ngClass]="{'page-item': true, 'active': page === currentPage }"
      class="btn btn-default"
      [routerLink]="['/videos']"
      [queryParams]="{ page: page }" >
      {{ page }}
    </a>

  </div>
</div>
