<div class="row">
  <div class="col-sm-9">
    <div *ngIf="!hidenewVideo">
      <h2>New Video</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)" class="well">
        <div class="form-group">
          <label>Title</label>
          <input 
            type="text" 
            class="form-control" 
            required 
            name="title" 
            ngModel
            placeholder="Enter titie name" >
        </div>
        <div class="form-group">
          <label>Url</label>
          <input 
            type="text" 
            class="form-control" 
            required 
            name="url" 
            ngModel
            placeholder="Enter url link" >
        </div>
        <div class="form-group">
          <label>Description</label>
          <input 
            type="text" 
            class="form-control"  
            name="discription" 
            ngModel
            placeholder="Enter descrtption" >
        </div>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
    <video-detail 
      (updateVideoEvent)="onUpdateVideoEvent($event)"
      (deleteVideoEvent)="onDeleteVideoEvent($event)"
      *ngIf="selectedVideo && hidenewVideo" 
      [video]="selectedVideo">
    </video-detail>
  </div>
  
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
          <button (click)="newVideo()" type="button" class="btn btn-default btn-lg btn-block">+ New Video</button>
          <video-list (SelectVideo)="onSelectVideo($event)" [videos]="videos"></video-list>
      </div>
    </div>
  </div>

</div>

