.panel-body{
    padding: 0;
}
.videoListText{
    margin-bottom: 10px 0px 1px 0px;
}
hr{
    margin: 1px 0px 5px 0px;
}
.col-sm-9.videoDetail{
    border: 1px solid rgba(192,192,192,0.3);
    padding: 0px;
}
.btn.btn-default.btn-lg.btn-block{
    padding: 5px 25px 5px 25px;
    border-radius: 0px;
    border: 0px;
}
.form-control{
    border: 0px;
}

  
