<div class="jumbotron text-center">
  <h1>My Videos</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, repellendus.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']" >Register</a>
    <a class="btn btn-default" [routerLink]="['/login']" >Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magnam quas odit quae itaque nobis, eum vero tenetur cum distinctio.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magnam quas odit quae itaque nobis, eum vero tenetur cum distinctio.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magnam quas odit quae itaque nobis, eum vero tenetur cum distinctio.</p>
  </div>
</div>