<div class="jumbotron">
  <h1>My Videos</h1>
  <p>Add Update Delete Group All you videos you like in this website</p>
  <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  <a class="btn btn-default" [routerLink]="['/login']">Login</a>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <h3 class="card-header">Add New Video</h3>
      <div class="card-block">
        <h6 class="card-subtitle text-muted">How to add new video</h6>
      </div>
      <img style="height: 200px; width: 100%; display: block;" src="../../../assets/images/add new.png"
        alt="Card image">
      <div class="card-block">
        <p class="card-text">(1).select video page 
                             (2).click +new video 
                             (3).insert all data 
                             (4).click add video </p>
      </div>
      <div class="card-footer text-muted text-xs-center">
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <!--<div class="editeHeader">-->
        <h3 class="card-header">Edite Video</h3>
        <div class="card-block">
          <h6 class="card-subtitle text-muted">How to edite video</h6>
        <!--</div>-->
      </div>
      <img style="height: 200px; width: 100%; display: block;" src="../../../assets/images/editePic.png"
        alt="Card image">
      <div class="card-block">
        <p class="card-text">(1).select video page
                             (2).select video you want to edit
                             (3).click edit botton
                             (4).edit data 
                             (5).click update</p>
      </div>
      <div class="card-footer text-muted text-xs-center">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <h3 class="card-header">Delete Video</h3>
      <div class="card-block">
        <h6 class="card-subtitle text-muted">How to delete video</h6>
      </div>
      <img style="height: 200px; width: 100%; display: block;" src="../../../assets/images/deletePic.png"
        alt="Card image">
      <div class="card-block">
        <p class="card-text">(1).select video page 
                             (2).select video you want to delete 
                             (3).click delete botton
                             (4).click confirm </p>      
      </div>
      <div class="card-footer text-muted text-xs-center">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <h3 class="card-header">Filter Video</h3>
      <div class="card-block">
        <h6 class="card-subtitle text-muted">How to filter video by category</h6>
      </div>
      <img style="height: 200px; width: 100%; display: block;" src="../../../assets/images/filter.png"
        alt="Card image">
      <div class="card-block">
        <p class="card-text">(1).select video page 
                             (2).click select by category
                             (3).select category    
      </div>
      <div class="card-footer text-muted text-xs-center">
      </div>
    </div>
  </div>
</div>
